<section class="podcasts-page">
  <div class="container">
    <div class="page-header">
      <h1>Podcast Episodes</h1>
      <p>Explore every episode of the Sound District Music Show.</p>
    </div>
    <div class="podcast-search">
      <i class="bi bi-search"></i>

      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search episodes, artists or genres..."
        (input)="onSearch()"
        (focus)="onSearch()"
      />

      <div class="search-results" *ngIf="showResults">
        <div
          class="search-item"
          *ngFor="let track of searchResults"
          (click)="openSearchResult(track)"
        >
          <img [src]="track.artworkUrl" [alt]="track.title" />

          <div class="search-info">
            <h4>{{ track.title }}</h4>

            <small>
              {{ getArtistName(track.title) }}
              •
              {{ track.genre }}
            </small>
          </div>
        </div>

        <div class="no-results" *ngIf="!searchResults.length">
          No episodes found.
        </div>
      </div>
    </div>
    <div class="podcast-list">
      <article class="podcast-card" *ngFor="let podcast of pagedTracks">
        <img
          [src]="podcast.artworkUrl"
          [alt]="podcast.title"
          (click)="openEpisode(podcast.slug)"
        />

        <div class="podcast-content">
          <span class="genre">{{ podcast.genre }}</span>

          <h3 (click)="openEpisode(podcast.slug)">
            {{ podcast.title }}
          </h3>

          <div class="meta">
            <span>{{ podcast.createdAt | date: "dd MMM yyyy" }}</span>
            <span>•</span>
            <span>{{ formatDuration(podcast.duration) }}</span>
          </div>

          <p>{{ podcast.description | slice: 0 : 180 }}...</p>

          <button class="listen-btn" (click)="openEpisode(podcast.slug)">
            View More
          </button>
        </div>
      </article>
    </div>

    <div class="pagination">
      <button
        class="page-btn"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        <i class="bi bi-chevron-left"></i>
      </button>

      <div class="page-info">Page {{ currentPage }} of {{ totalPages }}</div>

      <button
        class="page-btn"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</section>
