<header class="top-nav">
  <div class="left-menu">
    <a (click)="gotoHome()">Home</a>
    <a (click)="gotoMusic()">Music</a>
    <a (click)="gotoPodcast()">Podcasts</a>
    <a (click)="gotoShop()">Store</a>
    <a class="donate-btn" (click)="gotoDonate()">
      <i class="bi bi-heart-fill"></i>
      Donate
    </a>
  </div>

  <a href="index.html" class="logo">
    <img src="main-logo-2.png" alt="Sound District" />
  </a>

  <div class="right-menu">
    <a
      href="https://www.facebook.com/people/Sound-District/61576446847394/?mibextid=wwXIfr&rdid=DuVbLNc6CBtvElmM&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1966DGi1Nb%2F%3Fmibextid%3DwwXIfr"
      target="_blank"
    >
      <i class="bi bi-facebook"></i>
    </a>

    <a href="https://instagram.com/sounddistrict.za" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>

    <a href="https://www.youtube.com/@sounddistrictza" target="_blank">
      <i class="bi bi-youtube"></i>
    </a>

    <a href="https://x.com/sounddistrict_" target="_blank">
      <i class="bi bi-twitter-x"></i>
    </a>

    <a href="https://www.tiktok.com/@sounddistrict.za" target="_blank">
      <i class="fa-brands fa-tiktok"></i>
    </a>

    <a
      href="https://podcasts.apple.com/us/podcast/sound-district-music-show/id1692342838"
      target="_blank"
    >
      <i class="bi bi-apple"></i>
    </a>
  </div>
</header>
<div class="mobile-header">
  <div class="mobile-top">
    <a href="index.html" class="mobile-logo">
      <img src="main-logo-2.png" alt="Sound District" />
    </a>

    <div class="mobile-social">
      <a
        href="https://www.facebook.com/people/Sound-District/61576446847394/?mibextid=wwXIfr&rdid=DuVbLNc6CBtvElmM&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1966DGi1Nb%2F%3Fmibextid%3DwwXIfr"
        target="_blank"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="https://instagram.com/sounddistrict.za" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://www.youtube.com/@sounddistrictza" target="_blank"
        ><i class="bi bi-youtube"></i
      ></a>
      <a href="https://x.com/sounddistrict_" target="_blank"
        ><i class="bi bi-twitter-x"></i
      ></a>
      <a href="https://www.tiktok.com/@sounddistrict.za" target="_blank"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
      <a
        href="https://podcasts.apple.com/us/podcast/sound-district-music-show/id1692342838"
        target="_blank"
        ><i class="bi bi-apple"></i
      ></a>
    </div>
  </div>

  <nav class="mobile-menu">
    <a (click)="gotoMusic()">Music</a>
    <a (click)="gotoPodcast()">Podcasts</a>
    <a (click)="gotoShop()">Store</a>
    <a class="donate-btn" (click)="gotoDonate()">
      <i class="bi bi-heart-fill"></i>
      Donate
    </a>
  </nav>
</div>
