<header class="top-nav">
  <div class="left-menu">
    <a (click)="gotoHome()">Home</a>
    <a (click)="gotoMusic()">Music</a>
    <a (click)="gotoPodcast()">Podcasts</a>
    <a (click)="gotoShop()">Store</a>
    <a (click)="gotoDonate()">Donate</a>
  </div>

  <a href="index.html" class="logo">
    <img src="main-logo-2.png" alt="Sound District" />
  </a>

  <div class="right-menu">
    <a href="https://facebook.com" target="_blank">
      <i class="bi bi-facebook"></i>
    </a>

    <a href="https://instagram.com/sounddistrict.za" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>

    <a href="https://youtube.com" target="_blank">
      <i class="bi bi-youtube"></i>
    </a>

    <a href="https://x.com/sounddistrict_" target="_blank">
      <i class="bi bi-twitter-x"></i>
    </a>

    <a href="https://open.spotify.com" target="_blank">
      <i class="bi bi-spotify"></i>
    </a>

    <a href="https://music.apple.com" target="_blank">
      <i class="bi bi-apple"></i>
    </a>
  </div>
</header>
<div class="mobile-header">
  <div class="mobile-top">
    <a href="index.html" class="mobile-logo">
      <img src="main-logo-2.png" alt="Sound District" />
    </a>

    <div class="mobile-social">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-twitter-x"></i></a>
      <a href="#"><i class="bi bi-spotify"></i></a>
      <a href="#"><i class="bi bi-apple"></i></a>
    </div>
  </div>

  <nav class="mobile-menu">
    <a (click)="gotoMusic()">Music</a>
    <a (click)="gotoPodcast()">Podcasts</a>
    <a (click)="gotoShop()">Store</a>
    <a (click)="gotoDonate()">Donate</a>
  </nav>
</div>
