.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: var(--dark-grey);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-bottom: var(--dark-grey);
}

.left-menu,
.right-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left-menu a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  transition: 0.3s;
}

.left-menu a:hover {
  color: #fff;
  cursor: pointer;
}

.logo img {
  height: 60px;
  width: auto;
  display: block;
}

.right-menu a {
  color: #d7d7d7;

  font-size: 24px;

  transition: 0.3s ease;
}

.right-menu a:hover {
  color: #fff;

  transform: translateY(-2px);
}

@media (max-width: 991px) {
  .top-nav {
    padding: 18px 20px;
  }

  .left-menu {
    display: none;
  }

  .right-menu {
    gap: 18px;
  }

  .right-menu a {
    font-size: 22px;
  }

  .logo img {
    height: 42px;
  }
}
.mobile-header {
  display: none;
}

@media (max-width: 991px) {
  .top-nav {
    display: none;
  }

  .mobile-header {
    display: block;
    background: var(--dark-grey);
    border-bottom: var(--dark-grey);
  }

  .mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 20px;

    border-bottom: 1px solid var(--dark-grey);
  }

  .mobile-logo img {
    height: 46px;
  }

  .mobile-social {
    display: flex;
    gap: 16px;
  }

  .mobile-social a {
    color: #d7d7d7;
    font-size: 20px;

    transition: 0.3s;
  }

  .mobile-social a:hover {
    color: #fff;
  }

  .mobile-short {
    display: flex;
    gap: 16px;
  }

  .mobile-short a {
    color: #d7d7d7;
    font-size: 20px;

    transition: 0.3s;
  }

  .mobile-shorta:hover {
    color: #fff;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 18px 15px;
  }

  .mobile-menu a {
    color: #d7d7d7;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }

  .mobile-menu a:hover {
    color: #fff;
    cursor: pointer;
  }
}
.upload-btn {
  margin-left: 12px;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  height: 36px;
  padding: 0 14px;

  border-radius: 999px;

  background: var(--btn-primary);
  color: var(--border) !important;

  font-size: 0.8rem !important ;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.25s ease;
}

.upload-btn i {
  font-size: 0.9rem;
}

.upload-btn:hover {
  transform: translateY(-1px);
}

.mobile-upload-btn {
  width: calc(100% - 32px);

  margin: 18px 16px 0;

  height: 48px;

  border: none;
  border-radius: 999px;

  background: var(--primary-color);

  color: #fff;

  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.mobile-upload-btn:hover {
  opacity: 0.95;
}
.donate-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  height: 36px;
  padding: 0 16px;

  border: 1px solid #1b1f3b;
  border-radius: 999px;

  background: #1b1f3b;

  color: #fff !important;

  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;

  transition: all 0.25s ease;
}

.donate-btn i {
  color: var(--primary-color);
  font-size: 0.9rem;
}

.donate-btn:hover {
  background: rgba(255, 70, 96, 0.12);
  border-color: var(--primary-color);

  color: var(--primary-color) !important;

  transform: translateY(-2px);
}
