<div
  class="player"
  [class.expanded]="player.expanded$ | async"
  [style.background]="player.playerBackground$ | async"
  [style.borderTop]="player.getPlayerBorder()"
  (touchend)="preventDoubleTapZoom($event)"
  *ngIf="player.currentTrack$ | async as track"
>
  <button
    class="player-toggle"
    (click)="player.toggleExpanded()"
    *ngIf="!isMusic"
  >
    <i
      class="bi"
      [ngClass]="
        (player.expanded$ | async) ? 'bi-chevron-down' : 'bi-chevron-up'
      "
    >
    </i>
  </button>

  <!-- Artwork -->

  <div class="player-left">
    <img [src]="track.artworkUrl" [alt]="track.title" />

    <div>
      <h4 (click)="openEpisode(track.slug)">{{ track.title }}</h4>

      <small (click)="onSubtitleClick(track)">
        {{ track.artistName || "Sound District Music Show" }}
      </small>
    </div>
  </div>

  <!-- Progress -->

  <div class="player-progress">
    <span>{{ formatTime(player.currentTime$ | async) }}</span>

    <input
      type="range"
      min="0"
      [max]="player.duration$ | async"
      [value]="sliderValue"
      (pointerdown)="dragging = true"
      (pointerup)="onSeek()"
      (input)="sliderValue = +$any($event.target).value"
    />

    <span>{{ formatTime(player.duration$ | async) }}</span>
  </div>

  <div class="player-center">
    @if ((player.expanded$ | async) && !isMusic) {
      <button
        class="skip-back-button"
        (click)="player.skipBackward(15)"
        title="Back 15 seconds"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
        <span>15</span>
      </button>
    }

    <button class="play-button" (click)="player.toggle(track)">
      <i
        class="bi"
        [ngClass]="{
          'bi-play-fill': !(player.isPlaying$ | async),
          'bi-pause-fill': player.isPlaying$ | async,
        }"
      >
      </i>
    </button>

    @if (player.expanded$ | async) {
      <button
        class="skip-forward-button"
        (click)="player.skipForward(30)"
        title="Forward 30 seconds"
      >
        <i class="bi bi-arrow-clockwise"></i>
        <span>30</span>
      </button>
    } @else {
      <button
        *ngIf="!isMusic"
        class="mini-skip-button"
        (click)="player.skipForward(30)"
        title="Forward 30 seconds"
      >
        <i class="bi bi-arrow-clockwise"></i>
        <span>30</span>
      </button>
    }
  </div>
  <div class="player-stats">
    <span *ngIf="!isMusic">
      <i class="bi bi-headphones"></i>

      {{ track.plays | number }}
    </span>
    <span *ngIf="isMusic">
      <i class="bi bi-headphones"></i>

      {{ previewCount }}
    </span>

    <span *ngIf="!isMusic">
      <i class="bi bi-download"></i>

      {{ track.downloads | number }}
    </span>
  </div>
</div>
