<div
  class="player"
  [class.expanded]="player.expanded$ | async"
  [style.background]="getPlayerBackground(track)"
  [style.borderTop]="getPlayerBorder()"
  *ngIf="player.currentTrack$ | async as track"
>
  <button class="player-toggle" (click)="player.toggleExpanded()">
    <i
      class="bi"
      [ngClass]="
        (player.expanded$ | async) ? 'bi-chevron-down' : 'bi-chevron-up'
      "
    >
    </i>
  </button>

  <!-- Artwork -->

  <div class="player-left">
    <img [src]="track.artworkUrl" [alt]="track.title" />

    <div>
      <h4 (click)="openEpisode(track.slug)">{{ track.title }}</h4>

      <small (click)="openEpisode(track.slug)">Sound District Music Show</small>
    </div>
  </div>

  <!-- Progress -->

  <div class="player-progress">
    <span>{{ formatTime(player.currentTime$ | async) }}</span>

    <input
      type="range"
      min="0"
      [max]="player.duration$ | async"
      [value]="player.currentTime$ | async"
      (input)="player.seek(+$any($event.target).value)"
    />

    <span>{{ formatTime(player.duration$ | async) }}</span>
  </div>

  <div class="player-center">
    @if (player.expanded$ | async) {
      <button
        class="skip-back-button"
        (click)="player.skipBackward(15)"
        title="Back 15 seconds"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
        <span>15</span>
      </button>
    }

    <button class="play-button" (click)="player.toggle(track)">
      <i
        class="bi"
        [ngClass]="{
          'bi-play-fill': !(player.isPlaying$ | async),
          'bi-pause-fill': player.isPlaying$ | async,
        }"
      >
      </i>
    </button>

    @if (player.expanded$ | async) {
      <button
        class="skip-forward-button"
        (click)="player.skipForward(30)"
        title="Forward 30 seconds"
      >
        <i class="bi bi-arrow-clockwise"></i>
        <span>30</span>
      </button>
    } @else {
      <button
        class="mini-skip-button"
        (click)="player.skipForward(30)"
        title="Forward 30 seconds"
      >
        <i class="bi bi-arrow-clockwise"></i>
        <span>30</span>
      </button>
    }
  </div>
  <div class="player-stats">
    <span>
      <i class="bi bi-headphones"></i>

      {{ track.plays | number }}
    </span>

    <span>
      <i class="bi bi-download"></i>

      {{ track.downloads | number }}
    </span>
  </div>
</div>
