.player {
  position: fixed;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 90px;

  background: var(--dark-grey);

  border-top: 1px solid var(--dark-grey);

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 30px;

  z-index: 9999;
}

/* Artwork */

.player-left {
  display: flex;

  align-items: center;

  gap: 15px;

  width: 320px;
}

.player-left img {
  width: 60px;
  height: 60px;

  border-radius: 8px;
}

.player-left h4 {
  margin: 0;

  font-size: 15px;
}

.player-left small {
  color: #9d9d9d;
}

/* Controls */

.player-center {
  display: flex;

  justify-content: center;

  align-items: center;
}

.player-center button {
  width: 52px;
  height: 52px;

  border-radius: 50%;

  border: none;

  background: var(--primary-color);

  color: var(--white);

  font-size: 22px;
}

.player-center button:hover {
  background: var(--btn-primary);
  color: var(--border);
  transform: scale(1.1);
}

/* ===========================
   PROGRESS
=========================== */

.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 420px;
}

.player-progress span {
  color: #9a9a9a;
  font-size: 13px;
  min-width: 42px;
  text-align: center;
}

.player-progress input[type="range"] {
  flex: 1;

  -webkit-appearance: none;
  appearance: none;

  height: 4px;

  background: #2d2d2d;

  border-radius: 999px;

  outline: none;

  cursor: pointer;
}

/* Chrome */

.player-progress input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;

  background: #3b3b3b;

  border-radius: 999px;
}

.player-progress input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 14px;
  height: 14px;

  border-radius: 50%;

  background: #ffffff;

  margin-top: -5px;

  transition: 0.2s;
}

.player-progress input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

/* Firefox */

.player-progress input[type="range"]::-moz-range-track {
  height: 4px;

  background: #3b3b3b;

  border-radius: 999px;
}

.player-progress input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;

  border: none;

  border-radius: 50%;

  background: #fff;
}

.player-toggle {
  display: none;
}
.skip-button {
  display: none;
}
.mini-skip-button {
  display: none;
}

/* ==========================================
   MOBILE PLAYER
========================================== */
/* ===========================
   MOBILE PLAYER
=========================== */

@media (max-width: 768px) {
  .player button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
  .player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;

    height: 95px;

    padding: 14px 18px;

    display: flex;
    align-items: center;

    transition: all 0.35s ease;

    overflow: hidden;
  }

  .player-toggle {
    position: absolute;

    top: 0px;
    left: 50%;

    transform: translateX(-50%);

    width: 34px;
    height: 34px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    z-index: 100;
  }
  .player-toggle i {
    font-size: 22px;

    transition: 0.3s;
  }

  .player-left {
    display: flex;

    align-items: center;

    gap: 14px;

    width: calc(100% - 70px);
  }

  .player-left img {
    width: 56px;

    height: 56px;

    border-radius: 12px;

    object-fit: cover;
  }

  .player-left div {
    overflow: hidden;
  }

  .player-left h4 {
    margin: 0;

    font-size: 12px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;
  }

  .player-left small {
    font-size: 12px;
  }

  .player-center {
    position: absolute;

    right: 18px;

    top: 50%;

    transform: translateY(-50%);
  }

  .player-center button {
    width: 48px;

    height: 48px;

    border-radius: 50%;
  }

  .player-progress {
    display: none;
  }

  .player-stats {
    display: none;
  }

  /* ===========================
     EXPANDED
  =========================== */

  .player.expanded {
    top: 0;

    bottom: 0;

    height: 100vh;

    padding: 60px 28px 40px;

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    overflow-y: auto;
  }

  .player.expanded .player-toggle {
    display: flex;
  }

  .player.expanded .player-left {
    width: 100%;

    display: flex;

    flex-direction: column;

    align-items: center;

    margin-top: 30px;

    gap: 24px;
  }

  .player.expanded .player-left img {
    width: 300px;

    height: 300px;

    border-radius: 24px;
  }

  .player.expanded .player-left div {
    text-align: center;
  }

  .player.expanded .player-left h4 {
    font-size: 1rem;

    white-space: normal;

    overflow: visible;

    text-overflow: unset;

    line-height: 1.4;
  }

  .player.expanded .player-left small {
    display: block;

    margin-top: 8px;

    font-size: 15px;
  }

  .player.expanded .player-progress {
    display: flex;

    align-items: center;

    gap: 14px;

    width: 100%;

    margin-top: 30px;
  }

  .player.expanded .player-progress input {
    flex: 1;
  }

  .player.expanded .player-progress span {
    min-width: 45px;

    font-size: 13px;
  }

  .player.expanded .player-center {
    position: static;

    transform: none;

    margin-top: -20px;

    display: flex;

    justify-content: center;

    width: 100%;
  }

  .player-center button {
    background: transparent;
    border-radius: 0;
    color: white;
    transform: none;
  }

  .player-center button:hover,
  .player-center button:active {
    background: transparent;
    color: white;
    transform: none;
  }

  .player-center button,
  .skip-button,
  .player-toggle {
    -webkit-tap-highlight-color: transparent;

    outline: none;

    box-shadow: none;

    user-select: none;
  }

  .player-center button:focus,
  .player-center button:active,
  .player-center button:focus-visible {
    outline: none;

    box-shadow: none;

    background: transparent;
  }

  .player.expanded .player-center button {
    width: 86px;

    height: 86px;

    border-radius: 50%;
  }

  .player.expanded .player-center i {
    font-size: 40px;
  }

  .player.expanded .player-stats {
    display: flex;

    justify-content: space-evenly;

    width: 100%;

    margin-top: 2px;

    font-size: 15px;
  }
  .player:not(.expanded) .player-stats {
    display: none;
  }

  .player.expanded .player-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .player-center {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 15px;
  }

  /* Show only in mini player */
  .player:not(.expanded) .skip-button {
    display: flex;
  }

  /* Hide in expanded player */
  .player.expanded .skip-button {
    display: none;
  }

  .skip-button {
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 50%;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;

    transition: 0.25s;
  }

  .skip-button:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  .skip-button i {
    font-size: 18px;
  }

  .skip-button span {
    position: absolute;

    font-size: 5px;

    font-weight: 700;
  }

  .player:not(.expanded) .play-button {
    width: 30px;
    height: 48px;

    background: transparent;
    border: none;
  }

  .player:not(.expanded) .play-button i {
    font-size: 26px;
  }

  /* ===========================
   MINI PLAYER
=========================== */

  .mini-skip-button {
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 50%;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;

    transition: 0.25s ease;
  }

  .mini-skip-button i {
    font-size: 20px;
  }

  .mini-skip-button span {
    position: absolute;

    font-size: 9px;
    font-weight: 700;
  }

  /* ===========================
   EXPANDED PLAYER
=========================== */

  .skip-back-button,
  .skip-forward-button {
    width: 52px;
    height: 52px;

    border: none;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;

    transition: 0.25s ease;
  }

  .skip-back-button i,
  .skip-forward-button i {
    font-size: 34px;
  }

  .skip-back-button span,
  .skip-forward-button span {
    position: absolute;

    font-size: 11px;

    font-weight: 700;
  }

  /* Play button */

  .play-button {
    width: 90px;
    height: 90px;

    border: none;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-button i {
    font-size: 48px;
  }

  /* Expanded controls layout */

  .player.expanded .player-center {
    display: flex;

    align-items: center;

    justify-content: center;

    gap: 1px;

    width: 100%;

    margin-top: 0px;
  }

  /* Hover (desktop only) */

  @media (hover: hover) {
    .mini-skip-button:hover,
    .skip-back-button:hover,
    .skip-forward-button:hover,
    .play-button:hover {
      transform: scale(1.08);
    }
  }
}

.player-stats {
  display: flex;
  gap: 14px;
  margin-top: 6px;
  flex-wrap: wrap;
}

.player-stats span {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 0.8rem;
  color: #b5b5b5;
}

.player-stats i {
  color: #b5b5b5;
}
