<div class="checkout-page">
  <div class="checkout-info">
    <p class="note">
      <strong>Note:</strong> Use the same email address for your account and
      your purchase to ensure your downloads are automatically linked.
    </p>
  </div>

  <div class="checkout">
    <div class="left">
      <h2>Checkout</h2>

      <!-- Empty -->
      <div
        class="empty-state"
        *ngIf="
          purchase &&
          purchase.releases.length === 0 &&
          purchase.tracks.length === 0
        "
      >
        <h3>Your cart is empty.</h3>
      </div>

      <!-- Releases -->
      <div *ngIf="purchase?.releases?.length">
        <div class="release-item" *ngFor="let release of purchase!.releases">
          <div class="release-info">
            <img
              [src]="release.artworkUrl"
              [alt]="release.title"
              (click)="goToRelease(release)"
            />

            <div class="details">
              <h3>{{ release.title }}</h3>
              <small>{{ release.artistName }}</small>

              <span class="badge">
                {{ ReleaseType[release.releaseType] }}
              </span>
            </div>
          </div>

          <div class="actions">
            <span> R {{ release.price | number: "1.2-2" : "en-ZA" }} </span>

            <button type="button" (click)="removeRelease(release.id)">✕</button>
          </div>
        </div>
      </div>
      <!-- Tracks -->
      <ng-container *ngIf="purchase?.tracks?.length">
        <div class="track" *ngFor="let track of purchase!.tracks">
          <div class="track-info">
            <img
              class="track-artwork"
              [src]="track.artworkUrl"
              [alt]="track.title"
              (click)="routeBackToRelease(track)"
            />

            <div class="track-details">
              <h4>{{ track.title }}</h4>

              <small>{{ track.artistName }}</small>
            </div>
          </div>

          <div class="actions">
            <span> R {{ track.price | number: "1.2-2" : "en-ZA" }} </span>

            <button type="button" (click)="removeTrack(track.id)">✕</button>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="right">
      <h3>Your Details</h3>

      <label>Name</label>
      <input [(ngModel)]="name" type="text" />

      <label>Email</label>
      <input [(ngModel)]="email" type="email" />

      <div class="summary">
        <div>
          <span>Total</span>

          <strong> R {{ purchaseTotal | number: "1.2-2" : "en-ZA" }} </strong>
        </div>
      </div>

      <button
        class="pay"
        (click)="checkout()"
        [disabled]="!purchaseService.hasItems()"
      >
        Proceed to Payment
      </button>
    </div>
  </div>
</div>

<section class="payment-logos">
  <app-brand-assets></app-brand-assets>
</section>
